bower_components
node_modules
public/*
!public/img
typings
coverage
*.log
*.json
!client/botBenchmarkResults.json
server/events.txt
.DS_Store
config/local*
server/logs/*.gz
build/
!tsconfig.json
!package-lock.json
!babel.config.json
.idea/
assets/
