doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content='Play Legend of the Five Rings in your browser')
    title Jigoku Online - Play Legend of the Five Rings LCG in your browser
    script(src='https://www.google.com/recaptcha/api.js?render=6LcIUw8rAAAAANoZo59wKxiypGadOD5iXaN659la')
    if production
      each cssFile in cssFiles
        link(rel='stylesheet', href=cssFile)
      each jsFile in preloadJs
        link(rel='modulepreload', href=jsFile)
  body
    block content
    if !production
      script(type='module').
        import RefreshRuntime from '/@react-refresh';
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      script(type='module', src='/@vite/client')
      script(type='module', src='/client/index.tsx')
    else
      script(type='module', src=bundleJs)
